.magicslideshow-edit-form > div {
    /* NOTE: to limit the width of the tab */
    max-width: 900px;
}
.magicslideshow-fieldset table.form-list {
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
}
.magicslideshow-fieldset table.form-list td.label {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
}
.magicslideshow-fieldset table.form-list td.value {
    width: 300px;
    min-width: 300px;
    max-width: 300px;    
}
.magicslideshow-fieldset table.form-list td.label label {
    width: 225px;
}
.magicslideshow-fieldset table.form-list td.value .use-default {
    float: right;
}
.magicslideshow-edit-form .fieldset-open {
    background: url("../images/entry_edit_head_arrow_up.gif") no-repeat scroll 100% 50% transparent !important;
}
.magicslideshow-edit-form .fieldset-close {
    background: url("../images/entry_edit_head_arrow_down.gif") no-repeat scroll 100% 50% transparent !important;
}
.magicslideshow-fieldset table.form-list p.note {
    line-height: 12px;
    background-position: 1px 3px;
    color: #888;
}
#customslideshowblock_gallery_content .data .preview .cell-label input.input-text {
    width: 98% !important;
}
#customslideshowblock_gallery_content .data .preview .cell-description textarea.textarea {
    width: 98% !important;
    height: 94px;
    min-height: 94px !important;
}
#customslideshowblock_gallery_content .data .preview .cell-link input.input-text {
    width: 98% !important;
}
