<?xml version="1.0"?>
<config>
    <modules>
        <MagicToolbox_MagicSlideshow>
            <version>4.15.9</version>
        </MagicToolbox_MagicSlideshow>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MagicToolbox_MagicSlideshow before="Mage_Adminhtml">MagicToolbox_MagicSlideshow</MagicToolbox_MagicSlideshow>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magictoolbox translate="title" module="magicslideshow">
                <title>Magic Toolbox</title>
                <sort_order>300</sort_order>
                <children>
                    <magicslideshow translate="title" module="magicslideshow">
                        <title>Magic Slideshow settings</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/magicslideshow/index</action>
                    </magicslideshow>
                </children>
            </magictoolbox>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <magictoolbox>
                            <title>Magic Toolbox</title>
                            <sort_order>300</sort_order>
                            <children>
                                <magicslideshow>
                                    <title>Magic Slideshow settings</title>
                                    <sort_order>10</sort_order>
                                </magicslideshow>
                            </children>
                        </magictoolbox>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <magicslideshow>
                    <file>magicslideshow.xml</file>
                </magicslideshow>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <magicslideshow module="MagicToolbox_MagicSlideshow">
                    <file>magicslideshow.xml</file>
                </magicslideshow>
            </updates>
        </layout>
        <events>
            <core_layout_update_updates_get_after>
                <observers>
                    <magicslideshow>
                        <type>singleton</type>
                        <class>MagicToolbox_MagicSlideshow_Model_Observer</class>
                        <method>fixLayoutUpdates</method>
                    </magicslideshow>
                </observers>
            </core_layout_update_updates_get_after>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <magicslideshow>
                        <type>singleton</type>
                        <class>MagicToolbox_MagicSlideshow_Model_Observer</class>
                        <method>addLayoutUpdate</method>
                    </magicslideshow>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
        <routers>
            <magicslideshow>
                <use>standard</use>
                <args>
                    <module>MagicToolbox_MagicSlideshow</module>
                    <frontName>magicslideshow</frontName>
                </args>
            </magicslideshow>
        </routers>
        <default>
            <router>magicslideshow</router>
        </default>
    </frontend>
    <global>
        <models>
            <magicslideshow>
                <class>MagicToolbox_MagicSlideshow_Model</class>
                <resourceModel>magicslideshow_mysql4</resourceModel>
            </magicslideshow>
            <magicslideshow_mysql4>
                <class>MagicToolbox_MagicSlideshow_Model_Mysql4</class>
                <entities>
                    <settings>
                        <table>magicslideshow</table>
                    </settings>
                </entities>
            </magicslideshow_mysql4>
        </models>
        <resources>
            <magicslideshow_setup>
                <setup>
                    <module>MagicToolbox_MagicSlideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magicslideshow_setup>
            <magicslideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magicslideshow_write>
            <magicslideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magicslideshow_read>
        </resources>
        <blocks>
            <magicslideshow>
                <class>MagicToolbox_MagicSlideshow_Block</class>
            </magicslideshow>
        </blocks>
        <helpers>
            <magicslideshow>
                <class>MagicToolbox_MagicSlideshow_Helper</class>
            </magicslideshow>
        </helpers>
    </global>
</config>
